@tailwind base;

@layer base {
  * {
    font-family: 'Pretendard', sans-serif;
  }

  @media all and (min-width: 1024px) {
    body {
      font-size: 16px;
    }
  }

  @media all and (min-width: 768px) and (max-width: 1023px) {
    body {
      font-size: 15px;
    }
  }

  @media all and (max-width: 767px) {
    body {
      font-size: 14px;
    }
  }
}

@tailwind components;

@tailwind utilities;

@layer utilities {
  .flexCenterAlign {
    @apply flex justify-center items-center;
  }

  .buttonLayout {
    @apply text-base border-none rounded-md;
  }
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
}
